
@import'vars';
/**** start defult color ****************************************************/
[data-main="blue"] .chang_color{
    color:#468FC2 !important;
}
[data-main="blue"] .chang_backcolor{
    background:#468FC2 !important;
    color:$OfWhite !important;
}
[data-main="blue"] .border_top{
    border-top: 9px solid #468FC2 !important;/* the arrow for title when hover **/
}
[data-main="blue"] .box_shadow{
    box-shadow: 0 0 15px 2px #468FC2;
}
[data-main="blue"] .border_left_for_experience{
    border-left:1px solid #468FC2;
}
[data-main="blue"] .portfolio_overlay{
    background:#468fc2e6;
}




[data-main="green"] .chang_color{
    color:#6ABF7A !important;
}
[data-main="green"] .chang_backcolor{
    background:#6ABF7A !important;
    color:$OfWhite !important;
}
[data-main="green"] .border_top{
    border-top: 9px solid #6ABF7A !important;/* the arrow for title when hover **/
}
[data-main="green"] .box_shadow{
    box-shadow: 0 0 15px 2px #6ABF7A;
}
[data-main="green"] .border_left_for_experience{
    border-left:1px solid  #6ABF7A;
}
[data-main="green"] .portfolio_overlay{
    background:#6ABF7Ae6;
}



[data-main="yellow"] .chang_color{
    color:#FFC107 !important;
}
[data-main="yellow"] .chang_backcolor{
    background:#FFC107 !important;
    color:$OfWhite !important;
}
[data-main="yellow"] .border_top{
    border-top: 9px solid #FFC107 !important;/* the arrow for title when hover **/
}
[data-main="yellow"] .box_shadow{
    box-shadow: 0 0 15px 2px #FFC107;
}
[data-main="yellow"] .border_left_for_experience{
    border-left:1px solid  #FFC107;
}
[data-main="yellow"] .portfolio_overlay{
    background:#FFC107e6;
}




[data-main="palev"] .chang_color{
    color:#E83E8C !important;
}
[data-main="palev"] .chang_backcolor{
    background:#E83E8C !important;
    color:$OfWhite !important;
}
[data-main="palev"] .border_top{
    border-top: 9px solid #E83E8C !important;/* the arrow for title when hover **/
}
[data-main="palev"] .box_shadow{
    box-shadow: 0 0 15px 2px #E83E8C;
}
[data-main="palev"] .border_left_for_experience{
    border-left:1px solid  #E83E8C;
}
[data-main="palev"] .portfolio_overlay{
    background:#E83E8Ce6;
}




[data-main="red"] .chang_color{
    color:#DC3545 !important;
}
[data-main="red"] .chang_backcolor{
    background:#DC3545 !important;
    color:$OfWhite !important;
}
[data-main="red"] .border_top{
    border-top: 9px solid #DC3545 !important;/* the arrow for title when hover **/
}
[data-main="red"] .box_shadow{
    box-shadow: 0 0 15px 2px #DC3545;
}
[data-main="red"] .border_left_for_experience{
    border-left:1px solid  #DC3545;
}
[data-main="red"] .portfolio_overlay{
    background:#DC3545e6;
}



[data-main="purple"] .chang_color{
    color:#6F42C1 !important;
}
[data-main="purple"] .chang_backcolor{
    background:#6F42C1 !important;
    color:$OfWhite !important;
}
[data-main="purple"] .border_top{
    border-top: 9px solid #6F42C1 !important;/* the arrow for title when hover **/
}
[data-main="purple"] .box_shadow{
    box-shadow: 0 0 15px 2px #6F42C1;
}
[data-main="purple"] .border_left_for_experience{
    border-left:1px solid  #6F42C1;
}
[data-main="purple"] .portfolio_overlay{
    background:#6F42C1e6;
}
/****************************************   start defult color ****************************/


