/***************** start colors *************************/
$main_section:linear-gradient(120deg,#202334,#1c1f2f);
$white:red;
$OfWhite:#f1f1f1;
$para_color:#f1f1f19c;
$black_border:#000;
$white_border:hsla(0, 0%, 60%, 0.431);
/***************** end colors *************************/